html {
    background-color: aliceblue;
}
body {
    font-family: monospace;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color:lightsteelblue;
    border-color: black;
    cursor:pointer;
    border-style: solid;
    transition:background-color 0.25s;
}

button:hover {
    background-color:lightgrey;
}
button:active {
    background-color:darkgrey;
}
.center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
}

.miners {
    position: absolute;
    color:blue;
    top: 2%;
    left: 2%;
    transform: translate(-2%, -2%);
}

.minerspress {
    position: absolute;
    color:red;
    top: 2%;
    right: 2%;
    transform: translate(-2%, -2%);
}

.bopstone {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-5%, -20%);
}
.pressstone {
    position: absolute;
    top: 20%;
    right: 4%;
    transform: translate(-4%, -20%);
}